# Chi-square menggunakan R

In [3]:
 data_frame <- read.csv("https://goo.gl/j6lRXD")

In [6]:
data_frame

    id  treatment   improvement
1    1  treated     improved
2    2  treated     improved
3    3  not-treated improved
4    4  treated     improved
5    5  treated     not-improved
6    6  treated     not-improved
7    7  not-treated not-improved
8    8  treated     not-improved
9    9  not-treated improved
10  10  treated     improved
11  11  not-treated improved
12  12  not-treated not-improved
13  13  not-treated not-improved
14  14  not-treated not-improved
15  15  not-treated improved
16  16  not-treated improved
17  17  treated     improved
18  18  treated     improved
19  19  not-treated not-improved
20  20  not-treated not-improved
21  21  treated     not-improved
22  22  not-treated not-improved
23  23  treated     not-improved
24  24  not-treated improved
25  25  treated     improved
26  26  treated     improved
27  27  not-treated not-improved
28  28  not-treated improved
29  29  treated     not-improved
30  30  treated     improved
... ... ...         ...
76   76 not-treated not-improved
77   77 treated     not-improved
78   78 not-treated improved
79   79 treated     improved
80   80 treated     improved
81   81 treated     improved
82   82 not-treated not-improved
83   83 treated     improved
84   84 not-treated not-improved
85   85 treated     improved
86   86 not-treated improved
87   87 not-treated not-improved
88   88 treated     improved
89   89 not-treated not-improved
90   90 treated     improved
91   91 not-treated not-improved
92   92 not-treated improved
93   93 treated     not-improved
94   94 treated     not-improved
95   95 not-treated not-improved
96   96 treated     improved
97   97 not-treated improved
98   98 treated     improved
99   99 not-treated not-improved
100 100 not-treated improved
101 101 treated     improved
102 102 treated     improved
103 103 not-treated not-improved
104 104 treated     improved
105 105 not-treated not-improved

In [5]:
table(data_frame$treatment, data_frame$improvement)

              improved not-improved
  not-treated       26           29
  treated           35           15

In [7]:
chisq.test(data_frame$treatment, data_frame$improvement, correct=FALSE)

	Pearson's Chi-squared test

data:  data_frame$treatment and data_frame$improvement
X-squared = 5.5569, df = 1, p-value = 0.01841

## Kesimpulan
Berdasarkan hasil  nilai chi-square hitung 5,5569. Kita telah mendapatkan p-Value lebih kecil dari tingkat signifikansi 0,05, sehingga  menolak hipotesis nol (null hypothesis ) dan  menyimpulkan bahwa kedua variabel tersebut adalah saling terkait (dependent)

In [13]:
from functools import partial
from rpy2.ipython import html
html.html_rdataframe=partial(html.html_rdataframe, table_class="docutils")

In [14]:
from rpy2.robjects.packages import importr
utils = importr('utils')

dataf = utils.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/'
                       'master/notebooks/data/california_cities.csv')

In [15]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [16]:
dataf

<rpy2.robjects.vectors.DataFrame object at 0x0F80A3F0> [RTYPES.VECSXP]
R classes: ('data.frame',)
[IntSexpVe..., StrSexpVe..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  X: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x03D8D8C8> [RTYPES.INTSXP]
R classes: ('integer',)
[0, 1, 2, 3, ..., 478, 479, 480, 481]
  city: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x03D8D6E8> [RTYPES.STRSXP]
R classes: ('character',)
['Adelanto', 'AgouraHi..., 'Alameda', 'Albany', ..., 'Yreka', 'YubaCity', 'Yucaipa', 'YuccaVal...]
  latd: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8DE18> [RTYPES.REALSXP]
R classes: ('numeric',)
[34.576111, 34.153333, 37.756111, 37.886944, ..., 41.726667, 39.134722, 34.030278, 34.133333]
  longd: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8DAA8> [RTYPES.REALSXP]
R classes: ('numeric',)
[-117.432778, -118.761667, -122.274444, -122.297778, ..., -122.637500, -121.626111, -117.048611, -116.416667]
...
  elevation_ft: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8D648> [RTYPES.REALSXP]
R classes: ('numeric',)
[145.107000, 20.260000, 59.465000, 14.155000, ..., 26.036000, 37.959000, 72.244000, 103.639000]
  population_total: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8D850> [RTYPES.REALSXP]
R classes: ('numeric',)
[145.062000, 20.184000, 27.482000, 4.632000, ..., 25.847000, 37.758000, 72.231000, 103.639000]
  area_total_sq_mi: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8D260> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.046000, 0.076000, 31.983000, 9.524000, ..., 0.188000, 0.201000, 0.013000, 0.000000]
  area_land_sq_mi: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x03D8D9E0> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.030000, 0.370000, 53.790000, 67.280000, ..., 0.720000, 0.530000, 0.020000, 0.000000]